<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./Styles/global.css">
      <link rel="stylesheet" href="./Styles/responsive.css">
      <script src="./Scripts/main.js"></script>
      <script src="./Scripts/index.js"></script>
      <script src="./Scripts/angular.min.js"></script>
      <script src="./Scripts/app.js"></script>
      <script src="./Scripts/form.min.js"></script>
      <script src="https://smtpjs.com/v3/smtp.js"></script>  
      <link rel="icon" href="./Images/icons8-law-30 (2).png">
      <title>Advogada Mayara Marcela</title>
   </head>
   <body ng-app="app" ng-cloak onload="init()">
       <div ng-controller="FormController as ctrlForm">
      <header>
         <a href="#banner"><img src="./Images/logo.png" alt="Logotipo Mayara Marcela" id="logo"></a> 
         <div id="btn-mobile">
            <div id="linha1" class="linha"></div>
            <div id="linha2" class="linha"></div>
            <div id="linha3" class="linha"></div>
         </div>
         <ul id="menu">
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#areas"> Áreas de Atuação</a></li>
            <li><a href="#experiencias">Experiências</a></li>
            <li><a href="#depoimentos">Depoimentos</a></li>
            <li><a href="#contato">Contato</a></li>
         </ul>
      </header>
      <main>
         <div class="row center back-banner">
            <img src="./Images/banner.jpg" alt="Banner" id="banner">
            <h3>Te ajudo a <mark>descomplicar</mark>  questões jurídicas!</h3>
         </div>
         <div class="column center secao" id="sobre">
            <h1>SOBRE</h1>
            <div class="row center" style="gap: 5rem">
               <div id="profile-pic" class="circle img"></div>
               <div class="column text-sobre">
                 <span>Advogada com foco em Direito Civil, Consumidor e pós graduanda em Direito Tributário, sempre gostei de resolver questões judiciais. Gosto de ajudar ao próximo e o desafio constante de buscar justiça me fez escolher a área do Direito.  </span>
                 <span>O meu objetivo principal é buscar a melhor solução jurídica ao cliente com clareza, confiança e atendimento personalizado.  </span>
               </div>
               
            </div>
         </div>
         <div class="column center secao listrado" id="areas">
            <h1>ÁREAS DE ATUAÇÃO</h1>
            <div class="row center" style="gap: 3rem">
               <div class="card  card-small column center">
                   <div class="card-front">
                     <img src="./Images/icons8-document-30.png" 
                     alt="icone direito" class="icon"> 
                   <span>Direito Tributário</span>
                   </div>
               </div>
               <div class="card card-small column center">
                  <div class="card-front">
                     <img src="./Images/icons8-law-30 (2).png" alt="icone direito" class="icon">
                     <span>Direito do Consumidor</span>
                  </div>
               </div>
               <div class="card card-small column center">       
                  <div class="card-front">           
                     <img src="./Images/icons8-law-30 (1).png" alt="icone direito" class="icon">
                     <span>Direito Civil</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="column center secao" id="experiencias">
            <h1>EXPERIÊNCIAS</h1>
            <div class="row center" style="gap: 5rem">
               <div id="empresa-1" class="circle img logo-empresa"></div>
               <div class="column text-sobre" style="gap: .8rem">
                  <h2>Assistente Jurídico</h2>
                  <i>Nunez Carballo Advogados Associados | jul de 2020 - o momento · 1 ano 10 meses </i>
                  <span>Atuação em escritório de advocacia, prática em processos cíveis. Tratamento de publicações no software jurídico, lançando prazos/informações constantes das publicações. Realização de atendimento, agenda, planilhas e relatórios, cadastramento de processos, consulta de processos no sistema do Tribunal de Justiça de São Paulo e acompanhamento e contagem de prazos processuais, elaboração de petições diversas, pesquisas de jurisprudências, geração de guias para pagamento de custas judiciais, escaneamento de documentos, organização de arquivo físico, protocolo físico e eletrônico de petições.</span>
               </div>             
            </div>
            <div class="row center" style="gap: 5rem">
               <div id="empresa-1" class="circle img logo-empresa"></div>
               <div class="column text-sobre" style="gap: .8rem">
                  <h2>Advogado Júnior</h2>
                  <i>Silva Guedes Advocacia | jan de 2020 - mai de 2020 · 5 meses </i>
                  <span>Foco em Execuções Extrajudiciais, Ação de Cobrança, Ação Monitória, Ações de Despejo e pedido de Alvará Judicial para participação de crianças e adolescentes em peças teatrais. Realização de atendimento, cadastramento de processos, consulta de processos no sistema do Tribunal de Justiça de São Paulo e contagem de prazos processuais, elaboração de petições diversas, contratos de locação e de compra e venda de baixa/média complexidade e procurações, pesquisas de jurisprudências, auxílio em toda parte administrativa do escritório.</span>
               </div>             
            </div>
            <div class="row center" style="gap: 5rem">
               <div id="empresa-1" class="circle img logo-empresa"></div>
               <div class="column text-sobre" style="gap: .8rem">
                  <h2>Estagiário</h2>
                  <i>Silva Guedes Advocacia | jan de 2015 - dez de 2019 · 5 anos </i>
                  <span>Escritório de advocacia, prática em processos cíveis. Realização de atendimento, anotação e organização de agenda, cadastramento de processos, consulta de processos no sistema do Tribunal de Justiça de São Paulo e contagem de prazos processuais, elaboração de petições diversas, contratos e procurações, pesquisas de jurisprudências, escaneamento de documentos, organização de arquivo. Emissão de boletos para pagamento dos honorários advocatícios devidos pelos clientes e verificação do pagamento dos mesmos e posterior cobrança, controle de contas a pagar e receber, auxílio em toda parte administrativa do escritório.</span>
               </div>             
            </div>
         </div>
         <div class="column center secao listrado" id="depoimentos">
            <h1>DEPOIMENTOS</h1>
            <div class="row center" style="gap: 5rem">
               <div class="card card-big column center">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, impedit quibusdam. Dolores deserunt, voluptas quaerat molestias, quibusdam quam eius, nihil magni eaque odio accusamus! Esse possimus maiores tempore cupiditate repellendus.</span>
                  <h4>Nome Pessoa</h4>
                  <h6>Cargo</h6>
               </div>
               <div class="card card-big column center">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, impedit quibusdam. Dolores deserunt, voluptas quaerat molestias, quibusdam quam eius, nihil magni eaque odio accusamus! Esse possimus maiores tempore cupiditate repellendus.</span>
                  <h4>Nome Pessoa</h4>
                  <h6>Cargo</h6>
               </div>
               <div class="card card-big column center">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, impedit quibusdam. Dolores deserunt, voluptas quaerat molestias, quibusdam quam eius, nihil magni eaque odio accusamus! Esse possimus maiores tempore cupiditate repellendus.</span>
                  <h4>Nome Pessoa</h4>
                  <h6>Cargo</h6>
               </div>
            </div>
         </div>
         <div class="column center secao" id="contato">
            <h1>CONTATO</h1>
            <div class="row center" style="gap: 5rem">
               <div class="column" style="gap: .5rem">
                  <span>Telefone</span>
                  <h4 style="color: black !important;">(13) 99193-7679</h4>
                  <div class="line"></div>
                  <span>E-mail</span>
                  <h4>contato@advmayaramarcela.com</h4>              
                  <div class="line"></div>
                  <div class="row" style="gap: .5rem; align-items: center;">
                    <a href="https://www.linkedin.com/in/mayara-marcela-051bb419a/" target="blank"> <img src="./Images/linkedin.png" alt="linkedin" style="width: 2rem;" class="social-media"></a>
                    <a href="https://www.instagram.com/maaymarcela/" target="blank"> <img src="./Images/instagram.svg" alt="instagram" style="width: 1.5rem;" class="social-media"> </a>
                    <a href="https://api.whatsapp.com/send?phone=5513991937679&text=Ol%C3%A1%2C%20vim%20do%20seu%20site.%20" target="blank"> <img src="./Images/wpp.png" alt="Whats" style="width: 1.7rem;" class="social-media"> </a>
                  </div>
                  <div class="line"></div>
                  <button>Abrir Currículo</button>
               </div>
               <form class="column envie-mensagem center" style="gap: 1rem" name="myForm">
                  <h2>Envie sua mensagem!</h2>
                  <input type="text" placeholder="Nome*" ng-model="formModel.nomeMensagem" required> 
                  <input type="text" placeholder="Email*" ng-model="formModel.emailMensagem" required>
                  <input type="text" placeholder="Assunto*"  ng-model="formModel.assuntoMensagem" required>
                  <textarea name="mensagem" cols="30" rows="10" placeholder="Mensagem*" ng-model="formModel.mensagem" required></textarea>
                  <button ng-click="SendEmail()" ng-disabled="myForm.$error.required">Enviar</button>
                  <span>{{enviado}}</span>
               </form>
            </div>
         </div>         
      </main>
      <footer>
         <span id="texto-footer" style="text-align: center;">  </span>
      </footer>
    </div>
   </body>
</html>