<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/responsive.css">
    <script src="../Scripts/main.js"></script>
    <title>Direito Civil</title>
</head>
<body onload="init()">
   <header>
      <a href="../index.html#areas"><img src="../Images/logo.png" alt="Logotipo Mayara Marcela" id="logo"></a>      
   </header>
   <main>
    <div class="column center secao" id="experiencias">
        <h1>DIREITO CIVIL</h1>
        <div class="row center" style="gap: 5rem">
           <span id="text-sobre">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, eveniet sapiente tempore culpa voluptatibus ut odit atque voluptatem doloribus, maiores et ullam incidunt perferendis ratione voluptate expedita exercitationem ipsum? Quibusdam.</span>    
        </div>
        <div class="row center" style="gap: 5rem">
           <div id="empresa-2" class="circle img logo-empresa"></div>
           <span id="text-sobre">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, eveniet sapiente tempore culpa voluptatibus ut odit atque voluptatem doloribus, maiores et ullam incidunt perferendis ratione voluptate expedita exercitationem ipsum? Quibusdam.</span>
        </div>
     </div>    
   </main>
   <footer>
      <span id="texto-footer" style="text-align: center;">  </span>
   </footer>
</body>
</html>