* {
    margin: 0;
    padding: 0;
}

:root{
    --background: #fff;
    --background-second: rgb(245, 245, 245);
    --text: rgb(0, 0, 0);
    --primary: #292B42;
    --second: #d1b519;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

header {
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer {
    height: 3rem;
}

header,
footer {
    background: var(--primary);
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

a:hover {
    color: var(--second);
}

main {
    padding-top: 6rem;
    position: relative; 
}

textarea,
input {
    width: 80%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    resize: none;
  }

textarea:focus, input:focus {
    outline: none;
}

button {
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    background: var(--second);
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #b39805;
}

button:disabled {
    opacity: .5;
    cursor: auto;
}

button:disabled:hover {
    background: var(--second);
}

.obrigatorio {
    border: .1rem solid red;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.back-banner {
    background: var(--primary);
}

.back-banner h3 {
    position: absolute;
    width: 70%;
    color: white;
    text-align: center;
}

.circle {
    border-radius: 100%;
}

.secao {
    gap: 3rem;
    margin-bottom: 5rem;
    padding: 2rem 0 2rem;
}

.back-banner, .secao {
    scroll-margin-top: 4.5em;
} 

.listrado {
    background: var(--background-second);
}

.secao h1 {
    color: var(--second);
    border-bottom: 0.1rem solid var(--second);
}

.card {   
    border-radius: 1rem;
    gap: 1rem;
    background: var(--primary);
    color: #fff;
}

.card-small {
    height: 12rem;
    width: 12rem;
    cursor: pointer;
}

.card-small:hover {
   transform: scale(1.05);
}

.card-big {
    height: 27rem;
    width: 20rem;
    text-align: center;
}

.logo-empresa {
    width: 15rem;
    height: 15rem;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.2rem solid var(--primary);
}

.envie-mensagem {
    background: var(--primary);
    color: #fff;
    height: 32rem;
    width: 25rem;
    border-radius: 1rem;
}

.line {
    width: 100%;
    height: 0.05rem;
    background: var(--primary);
}

.social-media {
    cursor: pointer;
}

.social-media:hover {
    transform: scale(1.1);
}

#banner {
    width: 100%;
    opacity: .5;
    width: 100%;
}

#profile-pic {
    background-image: url(../Images/profile.jpg);
    width: 20rem;
    height: 20rem;    
}

#empresa-1 {
    background-image: url(../Images/logotipo-y-logo.jpg);
}

#empresa-2 {
    background-image: url(../Images/logotipo-y-logo.jpg);
}


#text-sobre {
    width: 50%;
}

#logo {
    width: 15rem;
    cursor: pointer;
}

::selection {
    background: var(--primary);
    color: #fff;
}