* {
    margin: 0;
    padding: 0;
}

:root{
    --background: #fff;
    --background-second: rgb(245, 245, 245);
    --text: rgb(0, 0, 0);
    --second: #d1b519;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

header {
    background-color: #292B42;
    color: #fff;
    height: 6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

a:hover {
    color: var(--second);
}

main {
    padding-top: 6rem;
    position: relative; 
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.back-banner {
    background: #292B42;
}

.circle {
    border-radius: 10rem;
}

.secao {
    gap: 3rem;
    margin-bottom: 5rem;
    padding: 2rem 0 2rem;
}

.back-banner, .secao {
    scroll-margin-top: 4.5em;
} 

.listrado {
    background: var(--background-second);
}

.secao h1 {
    color: var(--second);
    border-bottom: 0.1rem solid var(--second);
}

.card {
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
    background: #292B42;
}

#banner {
    width: 100%;
    opacity: .7;
    width: 100%;
}

#profile-pic {
    background-image: url(../Images/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
}

#text-sobre {
    width: 50%;
}

#logo {
    width: 15rem;
    cursor: pointer;
}